aiohttp==3.8.3
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.1.1
click==7.1.2
des==1.0.5
discord==2.1.0
discord.py==2.1.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
frozenlist==1.3.3
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multidict==6.0.4
mysqlclient==2.0.3
Naked==0.1.31
pefile==2022.5.30
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyMySQL==1.0.2
pyserial==3.5
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
soupsieve==2.2.1
SQLAlchemy==1.3.22
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==1.2.0
yarl==1.8.2
